[Unit]
Description=Render configuration files from Jinja templates
Documentation=man:ionit(1)
DefaultDependencies=no
Before=ferm.service ifupdown-pre.service network-pre.target openibd.service shutdown.target sysinit.target systemd-modules-load.service systemd-udev-trigger.service
Wants=network-pre.target
RequiresMountsFor=/usr

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ionit
ExecReload=/usr/bin/ionit

[Install]
WantedBy=multi-user.target
